@import "./tokens.css";

a {
    color:var(--color-accent);
}

h1 {
    text-align: center;
    color:var(--color-header);
    font-size: inherit;
}

body {
    display: grid;

    --page-grid: 8;


    grid-template-columns: repeat(var(--page-grid), 1fr);


    >header {
        font-size: var(--font-size-large);
        background-color: var(--color-accent-inverted);
        grid-column: 1 / -1;

        display:flex;
        justify-content: center;
        align-items: center;
        flex:auto;
    }

    >p {
        text-align: center;
        justify-items: center;
        grid-column: 1 / -1;
    }

    >ul {
        display:contents;
        >li {
            justify-self: center;
            grid-column: auto/span 2;
        }
    }


    background-color:var(--color-background-page);
    color:#282525;
    font-family: "Open Sans", Arial, sans-serif;
}


@media screen and (max-width: 50rem) {
    body {
        --page-grid: 4;
    }
}
@media screen and (max-width: 30rem) {
    body {
        --page-grid: 2;
    }
}

svg.icon {
  display: inline;
  height: 2em;
  width: 2em;
  vertical-align: top;
  fill: currentColor;
}
